<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iiordanov.bVNC" android:installLocation="auto" android:versionCode="16" android:versionName="v1.0">

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4"></uses-sdk>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <supports-screens android:anyDensity="true"/>
		
    <application android:icon="@drawable/icon" android:label="bVNC" android:debuggable="false">
 		<activity android:label="@string/app_name" android:name="bVNC" android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
		<activity android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden" android:name="VncCanvasActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
			</intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="vnc" />
            </intent-filter>
		</activity>
       <activity android:name=".ConnectionListActivity" android:label="@string/shortcut_label">
        	<intent-filter>
        		<action android:name="android.intent.action.CREATE_SHORTCUT" />
        		<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>
	</application>
</manifest> 
