<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-sdk tools:overrideLibrary="com.github.luben.zstd" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application>
        <activity
            android:name="com.iiordanov.pubkeygenerator.GeneratePubkeyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.DeviceDefault"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:replace="android:screenOrientation" />
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/app_defaultsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/app_defaultsize_h" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:resource="@dimen/app_minimumsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:resource="@dimen/app_minimumsize_h" />

        <activity
            android:name=".presentation.ShortcutsActivity"
            tools:node="remove" />

        <activity
            android:name="com.iiordanov.bVNC.GlobalPreferencesActivity"
            android:theme="@style/Theme.AppCompat" />

        <meta-data
            android:name="com.samsung.android.keepalive.density"
            android:value="true" />
    </application>
</manifest>
