<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.undatech.opaque"
    android:versionCode="115104"
    android:versionName="v5.1.0">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-sdk android:minSdkVersion="12" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.iiordanov.bVNC.App"
        android:allowBackup="true"
        android:banner="@drawable/banner_opaque"
        android:icon="@drawable/ic_launcher"
        android:label="@string/opaque_app_name"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.undatech.opaque.ConnectionGridActivity"
            android:configChanges="keyboardHidden"
            android:exported="true"
            android:label="@string/opaque_app_name"
            android:resizeableActivity="true"
            android:theme="@android:style/Theme.DeviceDefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.undatech.opaque.ConnectionSetupActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/opaque_app_name"
            android:resizeableActivity="true"
            android:theme="@android:style/Theme.DeviceDefault" />
        <activity
            android:name="com.undatech.opaque.AdvancedSettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/advanced_settings"
            android:resizeableActivity="true"
            android:theme="@android:style/Theme.DeviceDefault" />
        <activity
            android:name="com.iiordanov.bVNC.RemoteCanvasActivity"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter
                android:icon="@drawable/icon"
                android:label="@string/opaque_app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/x-virt-viewer"
                    android:scheme="file" />
                <data
                    android:mimeType="application/x-virt-viewer"
                    android:scheme="content" />
            </intent-filter>

            <intent-filter
                android:icon="@drawable/icon"
                android:label="@string/opaque_app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="application/x-virt-viewer"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="application/x-virt-viewer"
                    android:scheme="content" />
            </intent-filter>

            <intent-filter
                android:icon="@drawable/icon"
                android:label="@string/opaque_app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:pathPattern=".*\\.vv"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.vv"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.vv"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.vv"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.vv"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.vv"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.vv"
                    android:scheme="file" />

                <data
                    android:host="*"
                    android:pathPattern=".*\\.vv"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\.vv"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\.vv"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.vv"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.vv"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.vv"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.vv"
                    android:scheme="content" />
            </intent-filter>

            <intent-filter
                android:icon="@drawable/icon"
                android:label="@string/opaque_app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.vv"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\.vv"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\..*\\.vv"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.vv"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.vv"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.vv"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.vv"
                    android:scheme="file" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.vv"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\.vv"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\..*\\.vv"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\..*\\..*\\.vv"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.vv"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.vv"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.vv"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/app_defaultsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/app_defaultsize_h" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:resource="@dimen/app_minimumsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:resource="@dimen/app_minimumsize_h" />
    </application>
</manifest>
